<h2 class="sub-title">Search author</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label for="name">Author name:</label>
            <input type="text" name="name" id="name" value="<%= searchOptions.name %>" required autocomplete="off">
        </div>
    </div>
    <div class="btn-row btn-row-end">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>  
</form>
<% if(authors.length > 0) { %>
    <% authors.forEach(author => { %>
        <div class="author">
            <h3><%= author.name %></h3>
            <div class="btn-row authors-btn-row">
                <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
                <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
                <form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
                    <!-- the post method will be overridden with delete -->
                    <button class="btn btn-danger" type="submit">Delete</button>            
                </form>
            </div>
        </div>
    <% }) %>
<% } else {%>
    <p>No authors found!</p>
<% } %>    