<%- include("../errorMessage.ejs") %>
<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<form action="/authors/<%= author.id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>            
</form>
<br>
<% if(booksByAuthor.length > 0) { %>
    <h2>Books by author :</h2>
    <% booksByAuthor.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img src="<%= book.coverImagePath %>" alt="book" width="200" height="225"> 
        </a> 
    <% }) %>
<% } %>